<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @status.title %>
</p>

<p>
  <b>Message:</b>
  <%= @status.message %>
</p>

<p>
  <b>Customer:</b>
  <%= @status.customer_id %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
